<h1 class="font-light text-6xl">Midjourney Prompt Generator</h1>
<form action="#" class="w-8/12">
  <textarea cols="30" rows="3" class="w-full rounded p-2" autofocus placeholder="Add a comment..."></textarea>
  <div class="flex gap-2">
    <button class="bg-blue-500 text-white rounded px-4 py-2 mt-2">Button</button>
    <button class="bg-blue-500 text-white rounded px-4 py-2 mt-2">Button</button>
    <button class="bg-blue-500 text-white rounded px-4 py-2 mt-2">Button</button>
    <button class="bg-blue-500 text-white rounded px-4 py-2 mt-2">Button</button>
  </div>
</form>
